body {
  background-color: #020419;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.banner-day{
  background-image: url(./../img/bannerImgDay.jpg);
  background-position-y: 20%;

}
.banner-night{
  background-image: url(./../img/bannerImgNight.jpg);
}

#bannerPrincipal{
  position: relative;
  padding-top: 50px;
  margin-bottom: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.flex-container > #primerDiv {
  margin-right: 600px;
}
.flex-container > #segundoDiv {
  margin-right: 100px;
  padding-top: 60px;
}
#horaActual {
  font-weight: bold;
  font-size: 1.5rem;
}

.flex-container > div > p{
  margin-bottom: 8px;
}
#currentWeather{
  font-family: 'Source Sans 3', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}
#weatherCode{
  color: white;
}

#sidebarMenu{
  padding-top: 0;
  background-color: #020419;
}
.list-group-item{
  background-color: #020419;
}
.row{
 justify-content: center;
}
#table-container{
  color: white;
}
#table-container *{
  color: white;
}
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-container > #primerDiv {
    margin-right: 0;
    margin-bottom: 20px;
    justify-content: center;
  }

  .flex-container > #segundoDiv {
    margin-right: 0;
    justify-content: center;
  }
}